@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@700&family=Slabo+27px&display=swap');

body {
	font-family: 'Slabo 27px', serif;
	background-color: #A1EDF0
}
h1 {
	text-align: center;
	font-size: 100px;
	color: #4B9EC1
}

img {
	width: 500px;
	height: 500px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

ul {
	font-size: 15px
}



#title {
	font-family: 'Pacifico', cursive;
}

#slogan {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-style: italic;
	font-size: 20px
}

#list {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px
}

#email {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 20px
}